body {background: url('planewing.jpg') repeat-y top left ; 
background-attachment: fixed;
background-size: 100% auto; }

body, h1, h2, h3, li, p, div{font-family: sans-serif; line-height: 150%; margin: auto}

#itinerary {  border: 1px solid gray; text-align: center; margin: auto}
.head, .post {width: 60%; }
.head, h1, h2 {text-align: center; }

h1 {font-size: 2em}
h2 {font-size: 1em; line-height: 130%; color: gray; font-family: courier;}
h3 {margin:1em 0 0 0; font-size: 1.5em; padding:1em; border: 1px solid red; background-color: yellow}
p {text-align: justify;margin:0; }
td, th {text-align: left;}
a:hover {background-color: yellow;}
a:visited { color: hotpink;}

  @media screen and (max-width: 500px) {
  #itinerary {
    max-width:100%; 
    margin: 0; 
  }
  #itinerary td, #itinerary th {
    width:50%; 
  }
  #itinerary img {
    max-width:100%; 
    margin: 0; 
  }
  h3 { font-size: .8em 
  }
  p {background-color: #fff
  }
}